<html>
<head>
  <title>
    Sample VueJS
  </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

  <script src="https://unpkg.com/vue"></script>
</head>


  <body>
    <div class="container">


    <div id="app">
      <p>
        <a v-bind:href="url" target="_blank"> {{ message }} </a>
      </p>
      <vuecomponent></vuecomponent>
      <p v-if="error">{{ error_message }}</p>
      <form v-on:submit.prevent="addComment" action="#" method="post">
        <textarea v-model="message1" required="requried" placeholder="Enter your comment" ></textarea>
        <button type="submit"> Add Comment</button>
      </form>

      <button v-if="show" v-on:click="toogleCommentSection()">Show comment section</button>
      <button v-if="!show" v-on:click="toogleCommentSection()">Hide comment section</button>
      <div v-if="!show">
        <p> Comment Section</p>

        <ol>
          <li v-for="(comment,index) in comments" >
            {{ comment.text }}
            <button v-on:click="deleteComment(index)">Delete</button>
            <button data-toggle="modal" @click="saveIndex(index)" data-target="#exampleModal">Modify</button>
          </li>
        </ol>
      </div>

      <button @click="message = 'Hello Vue @Click'; message1='New Vue' ">Check Click</button>
      <hr />
      <div>
        <p>
          <i>Checking v-if-else</i>
        </p>
        <input type="text" v-model="contain" />
        <div v-if=" contain === '' ">
          <br />
          Please type A, B or C to check any of that block
        </div>
        <div v-else-if=" contain === 'A' ">
          <br />
          This is Block <b>A</b>
        </div>
        <div v-else-if=" contain === 'B'">
          <br />
          Now this is Block <b>B</b>
        </div>
        <div v-else-if=" contain === 'C' ">
          <br />
          Oho,You typed <b>C</b>! Yeah, Its <b>C</b> Block
        </div>
        <div v-else>
          <br />
          {{ contain }} named block doen't exist. Only A, B and C!
        </div>
      </div>
      <!-- <div>
        <button v-on:click="addNewObject()">Add New Object</button>
       
      </div> -->

      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
             <input v-model = "newComment" type="text" />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" @click="modifyComment()">Save changes</button>
            </div>
          </div>
        </div>
      </div>

    </div>
   

    </div>
  </body>



  <script type="text/javascript">

        Vue.component(
          'vuecomponent',{
            template: '<div>A custom component!</div>',
          })

        var app = new Vue({
        el: '#app',
        data: {
          message: 'Hello Vue.js !!',
          error_message:'Opps, your comment is empty!',
          message1: '',
          comments:[{text:'Comment 1'}],
          error : false,
          show : false,
          url : 'https://vuejs.org',
          contain : '',
          newComment:'',
          newIndex:0
        },
        methods: {
          addComment : function () {
            if(this.message1){
              this.comments.push({text: this.message1})
              this.error = false
            }
            else{
              this.error = true
            }


          },

          deleteComment : function (index) {
            this.comments.splice(index, 1)
          },

          toogleCommentSection : function(){
            this.show = !this.show
          },

          modifyComment : function(){
           
            console.log(this.newComment)
           //this.comments[0] = {text : 'New comment'}
           this.$set(this.comments,this.newIndex ,{text : this.newComment})
           
            
          },

          saveIndex(index){
            this.newIndex = index
            this.newComment = this.comments[this.newIndex].text
          },

          getState(){
            return JSON.stringify(this.comments)
          }

          }

      })
  </script>


</html>
